<div id="ranking">
 <div class="container">
 <h1>Ranking dos jogadores</h1>
 <div class="q-and-a">
 <hr class="mt-4 mb-4"/>


<table class="table">
  <thead>
    <tr>  
      <th scope="col">Jogador</th>
      <th scope="col">Pontuação</th>
      <th scope="col">Data/Hora</th>
    </tr>
    <% jogadas.forEach(function(jogada) { %>
    	<tr>
    		<td scope="col"><%= jogada.jogador.fullName -%></td>
    		<td scope="col"><%= jogada.pontuacao -%></td>
    		<td scope="col"><%= mostraDataHora(jogada.createdAt) -%></td>
    	</tr>
	<% }); %>
  </thead>
  
</table>


 </div>
 </div>
</div>